* {
    box-sizing: border-box;
}

html, body {
    overflow-x:hidden;
    color: #231f20;
}

#nav-header {
    padding-top: 4px;
    padding-bottom: 4px;
    /* margin-top:5px; */
    margin-bottom: 5px;
    position:static;  /*either sticky or static, depends*/
    top: 0%;
    background-color: transparent;
    text-align: center;
    font-size: medium;
    z-index: 1;
    display: flex;
    /* grid-template-columns: auto auto;  */

}
:root {
    scroll-behavior: smooth;
    --background-color: #e7dfd8;
    --shadow-color: hsl(225 10% 83%);
    --shadow-color-dark: hsl(225 10% 63%);

    --spacing-regular: 16px;
    --spacing-small: calc(var(--spacing-regular)/2);
    color-scheme: dark light;
    background-color: black;

    --font-size-mobile: 1.2rem ;
    /* --font1:Verdana, Geneva, Tahoma, sans-serif; */
    --font1: monospace;
    /* --font1: "Courier New", Courier, monospace; */

}

footer, footer > p {
    text-align: center;
    /* border-top: 1px solid #303f46; */
    font-size:10px;
    color: #324148;
    margin-bottom: 10px;
    justify-content: center;
}

header nav section > a,section nav a {
    margin-right: 8px;
    text-decoration: none;
    color: #324148;
    border-radius: 5%;
    padding: 8px;

}
section nav ul {
    list-style: none;
}

.social-links-navbar.desktop, .social-links-navbar.mobile, .social-links-navbar.contacts{
    display: flex;  
    list-style: none;
    text-decoration: none;
    margin: auto;
    align-items: center;
    padding: 5px;
}

header nav > a:last-child {
    margin-right: revert;
}

header nav section > a:hover,section nav a:hover {
     color: white ; 
     background-color:teal ;
     text-decoration: none;
     /* padding: 4px; */
     /* margin: 3px; */
}

header ul > li:hover {
    background-color:white;
    opacity: 50%;
    border-radius: 5px;
    padding-bottom: 6px;
}

section {
    scroll-margin-top: calc(100px - 2*var(--spacing-regular));
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align:justify;
    background-color: var(--background-color);
    color: whitesmoke;
}

#div-sections {
    width:66%;
    margin:auto;
    background-color: #2e2d2d;
    padding: 20px;
    /* border-radius: 15px; */
    border: 1px solid #303f46;
    margin-bottom: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

/* .container1 {
    padding: 16px;  
} */

.container1 #div-sections  >section > .h2-divs {
text-align: center;
margin-top:20px;
color: #607d8b;
}

.intro {
    margin: 16px;
    padding: 16px;
    background-color: #c9c5c5;
    /* color: black; */
    text-align: center;
}

#profile-img {
    /* border-radius: 50%; */
    max-width: 70%;
    /* width:220px;
    height:300px; */
    /* filter: drop-shadow(12px 4px 6px gray); */
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
    object-fit: contain;
    margin-left: 20px;
}

@-webkit-keyframes shakeme {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shakeme:hover,
.shakeme:focus {
    -webkit-animation-name: shakeme;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

/* #profile-img:hover {
    transform:scale(1.1);
} */

 .social-links-navbar img{
    height:20px;
    width:20px;
    margin:auto 10px;
    align-items: center;
}

.social-links-navbar a{
    padding-right: 10px;
    transform: translateX(-10px);
}


.social-links-bottom {
    display: flex;
    justify-content: center;
}

/* #qualifications section >h2{ */
    .h2-divs {
    text-align: center;
    color: #607d8b;
}

/* p {
    text-indent: 3%;
} */

.dynamic-text-color {
    color: #607d8b;
}

#contact {
    max-width: 400px;
    margin: auto;
    padding:16px;
    border: 1px solid #303f46;
    /* border-radius: 10px; */
}

#contact label {
    display: block;
    font-weight: 600;
    color: #324148;
}



#contact input, #contact textarea, #contact button {
    width: 100%;
}


.mobile-nav, .menu {
    display:none;
}



 /* @media (width<=625px){
    #div-sections {
        width:100%;
        margin:auto;
        background-color: #2e2d2d;
        padding: 5px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    } 
} */

/* @media (width <=400px){
    #profile-img {
        width: 70%;
        height: 70%;
    }
}  */


#proficiency .cards{
    display:block;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit,minmax(200px, 1fr)); */
    /* gap: 10px; */
}

#proficiency .h2-divs {
    color: #607d8b;
    margin: 10px;
}

#proficiency ul {
    margin: 0px;
    padding: 5px;
    text-align:center;
}

.cardsection {
    /* border: 1px solid white; */
    /* border: 1px solid #607d8b; */
    /* box-shadow: 3px 3px 18px 9px #33424a; */
    /* margin: 20px 20px; */
    margin-top: 50px;
    text-align:center;
    /* border-radius: var(--spacing-regular); */
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
    /* border-radius: 5px; */
    align-self:center;
}


/* .cardsection:hover,  */
.prof-logo:hover {
    box-shadow: 3px 3px 14px 5px #607d8b;
    transform: translateY(calc(-1*var(--spacing-regular)));
    border-radius: 5px;
    
}

input, textarea {
    opacity: 90%;
}

li >a.proj {
    color: #607d8b;
}

li >a.proj:hover {
    color: white;
}

.notdone {
    color: white;
    opacity: 20%;
}

.online-font {
font-family: "Courier New", Courier, monospace;
letter-spacing: 2px;
word-spacing: 2px;
color: #607d8b;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
font-size: x-large;
}

#contact-me form {
    border: 1px solid #607d8b;
    /* box-shadow: 3px 3px 18px 9px #33424a; */
    /* border-radius: var(--spacing-regular); */
    border-radius: 5px;

}

#contact-me form input, #contact-me form textarea {
    color: black;
    font-size: 1.1rem;
    opacity: 50%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit {
    background-color: white;
    opacity: 50%;
    color: black;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
}

#nav-header .default-nav > a{
    color: white;
    display:grid;
}

#nav-header .default-nav {
    display: flex;
    flex:1;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#theme-switcher1, #theme-switcher2 {
    margin: 5px;
    display: block;
     background:transparent;
    /* border-radius: 5px; */
    border: none;
    padding: 5px;
    align-self: center;
    border-style: none;
    outline-style: none;
}


#ingrid {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: black !important;
    font-size: 2rem;
    }


.cardsection {
    /* border: 2px solid #607d8b; */
    /* border: 1px solid #607d8b; */
    /* border-radius: 5px; */
}

#contact-me form input, #contact-me form textarea {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
} 



.intro {
    display: flex;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:2%;
    padding-bottom:2%;
    border: 1px solid #303f46;
}

.intro-right {
    width: 45%;
    text-align: left;
}
.intro-left {
    flex-wrap:wrap;
    width: 55%;
}

p {
    text-align: justify;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#section-menu {
    gap:50px;
    display: flex;
}

.prof-logo {
max-width: 80px;
/* height: 50px; */
vertical-align: bottom;
transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;

}

.prof-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:baseline;
    object-fit: contain;
    justify-content: center;
    row-gap: 30px;
    
}

/* .prof-container li {
    margin-left: 20px;
} */

.bootstrap {
    max-width:80px;
    /* height:60px; */
    vertical-align: bottom;
    margin-bottom: -9px;
}

.jquery {
    max-width: 160px;
    /* height: 50px; */
    object-fit: contain;
}

.react {
    object-fit: contain;
}

.wordpress, .vite {
    width: 60px;
    /* height: 35px; */
    margin-left:5px;
}

.social-links-navbar.mobile {
display: none;
}

/* dark theme styles*/

header.dark-theme nav section > a,section nav a {
    margin-right: 8px;
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding: 8px;

}

#contact label.dark-theme {
    display: block;
    font-weight: 600;
    color: white;
}

footer, footer > p.dark-theme {
    text-align: center;
    /* border-top: 1px solid #303f46; */
    font-size:10px;
    color: white;
    margin-bottom: 10px;
    justify-content: center;
}

#nav-header.dark-theme {
    background: #303f46;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    /* margin-top: 5px; */
    margin-bottom: 5px;
}

.default-nav.dark-theme > a{
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex:1;

}

#div-sections.dark-theme {
    background: black;
    color: white;
    border: 1px solid #303f46;
    margin-bottom: 50px;
    /* box-shadow: 3px 3px 18px 9px #33424a; */
}
 .h2-divs.dark-theme {
    color: white;
    font-family: var(--font1);
}

.cardsection.dark-theme {
    /* border: 2px solid #607d8b; */
    /* border: 1px solid #607d8b; */
    /* border-radius: 5px; */
}

#contact-me form input.dark-theme, #contact-me form textarea.dark-theme {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit.dark-theme {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
}

 body.dark-theme {
    background-color: black;
    color: black;
}

.intro.dark-theme {
    background-color: black;
    color: white;
}

#nav-header.dark-theme {
    background: transparent;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

.default-nav.dark-theme > a{
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;

}

#ingrid.dark-theme {
    color: white !important;
}

#div-sections.dark-theme {
    background: black;
    color: white;
    border: 1px solid #303f46;
    margin-bottom: 50px;
    /* box-shadow: 3px 3px 18px 9px #33424a; */
}
 .h2-divs.dark-theme {
    color: white ;
    font-family:var(--font1);

}

.cardsection.dark-theme {
    /* border: 2px solid #607d8b; */
    /* border: 1px solid #607d8b; */
    /* border-radius: 5px; */
}

#contact-me form input.dark-theme, #contact-me form textarea.dark-theme {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit.dark-theme {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
}
/* end of dark theme styles */

/*start of color scheme dark*/
 @media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: black;
    }
    #nav-header {
        background: #303f46;
        color: white;
        /* padding: 4px;
        margin-top: 3px;
        margin-bottom: 3px; */
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 5px;
    }

    #contact label {
        display: block;
        font-weight: 600;
        color: white;
    }

    .default-nav > a{
        color: white;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
    }
    .intro {
        background-color: black;
        
    }

    #div-sections {
        background: black;
        color: white;
        border: 2px solid #607d8b;
        margin-bottom: 50px;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
   .h2-divs {
        /* color: white ; */
    font-family: var(--font1);

    }

    #ingrid {
        color: white !important;
    }

    .cardsection {
        /* border: 2px solid #607d8b; */
        /* border: 1px solid #607d8b; */
        /* border-radius: 5px; */
    }

    #contact-me form input, #contact-me form textarea {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }

    footer, footer > p {
        text-align: center;
        /* border-top: 1px solid #303f46; */
        font-size:10px;
        color: white;
        margin-bottom: 10px;
        justify-content: center;
    }

    .social-links-navbar.mobile {
        display: none;
        }

    /* start of light theme styles inside dark theme*/
    body.light-theme {
        background-color: #c9c5c5;
    }
    .intro.light-theme {
        background-color: #c9c5c5;
        color: black;
    }

    #contact label.light-theme {
        display: block;
        font-weight: 600;
        color: #324148;
    }

    footer, footer > p.light-theme {
        text-align: center;
        /* border-top: 1px solid #303f46; */
        font-size:10px;
        color: #324148;
        margin-bottom: 10px;
        justify-content: center;
    }


    
    #nav-header.light-theme {
        background: transparent;
        color: whitesmoke;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-bottom: 5px;
    }
    /*not yet modified:*/
    .default-nav.light-theme > a{
        color: white;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    
    #div-sections.light-theme {
        background: transparent;
        /* color: #607d8b; */
        color: #324148;
        border: 1px solid #303f46;
        margin-bottom: 50px;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
    .h2-divs.light-theme {
        color: #607d8b;
    font-family: var(--font1);

    }
    
   #ingrid.light-theme {
        color: black !important;
    }
    
    /* .card.light-theme {
        border: 2px solid #607d8b;
    } */
    
    #contact-me form input.light-theme, #contact-me form textarea.light-theme {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit.light-theme {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }
      
    .social-links-navbar.mobile {
        display: none;
        }

        /* end of light-theme styles inside dark-theme */
} 

/* end of color scheme dark */

/* start of media for mobile */
@media (width < 1100px) {

    /* body {
        max-width: 400px;
    } */

    #theme-switcher1 {
        display: none;
    }

    

    .social-links-navbar.mobile {
        display:flex;
    }

    .social-links-navbar.desktop {
        display: none;
        }
    
    .intro {
        flex-direction:column;
        flex-wrap: wrap;
    }
    .intro-left, .intro-right {
        width: 100%;
    }

    #nav-header {
        display: flex;
    }
    .social-links-navbar.mobile {
        margin-right: 10px;
        margin-left: auto;
        align-items: center;
        padding: 5px;
    }
    .default-nav  {
        display:none;
    }
    .mobile-nav {
        display: revert;
        padding-left: 20px;
        display:flex;
    }
    .menu {
         display:grid;
        grid-column: 2 span 1;
        height: 0;
        width:95%;
        overflow:hidden; 
        position:fixed; 
        top:0;
        z-index: 2;
        background: #c9c5c5;
        transition: height 0.5s ease-in-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
        /* color: #303f46; */
        margin-right: 0px;
        margin-left: 10px;
        /* padding-top: 20px; */
    }
    
    .menu a {
        /* color: #303f46; */
        color: #212529;
    }
    
    #close-menu {
        position:absolute;
        right: 16px;
        top:16px;
        background:transparent;
        font-size: xx-large;
        border:none;
        color:#607d8b;
    }
    #menu-button, #theme-switcher2 {
        display: block;
        background:transparent;
        color: white;
        /* border-radius: 5px; */
        margin-left: auto;
        margin-right: 10px;
        padding: 5px;
        align-self: center;
    }

    #nav-header .default-nav section {
        display:none;
    }

    #div-sections {
        width:100%;
        margin:auto;
        background-color: #2e2d2d;
        padding: 5px;
        /* border-radius: 5px; */
        /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
        border: 1px solid #303f46;
        margin-bottom: 50px;
    } 

    body {
        font-size: var(--font-size-mobile);
        width:100%;
    }

    #profile-img {
        width: 70%;
        height: 70%;
    }

    #proficiency .cards{
    display: block;
    /* grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); */
    /* gap: 10px; */
    }

 

/*start of color scheme dark*/
@media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: black;
    }
    #nav-header {
        background: #303f46;
        color: white;
        /* padding-top: 10px; */
        padding-bottom: 4px;
        /* margin-top: 5px; */
        margin-bottom: 5px;
    }

    .intro {
        background-color: black;
        
    }

    #contact label {
        display: block;
        font-weight: 600;
        color: white;
    }

    footer, footer > p {
        text-align: center;
        /* border-top: 1px solid #303f46; */
        font-size:10px;
        color: white;
        margin-bottom: 10px;
        justify-content: center;
    }

    #div-sections {
        background: black;
        color: white;
        border: 1px solid #303f46;
        margin-bottom: 50px;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
    .h2-divs {
        color: white ;
    font-family: var(--font1);

    }

    #ingrid {
        color: white !important;
    }

    .cardsection {
        /* border: 2px solid #607d8b; */
        /* border: 1px solid #607d8b; */
        /* border-radius: 5px; */
    }

    #contact-me form input, #contact-me form textarea {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }

    .social-links-navbar.mobile {
        display:flex;
    }

    .social-links-navbar.desktop {
        display: none;
        }

    /* start of light theme styles inside dark theme*/
    body.light-theme {
        background-color: #c9c5c5;
    }
    .intro.light-theme {
        background-color: #c9c5c5;
        color: black;
    }

    #contact label.light-theme {
        display: block;
        font-weight: 600;
        color: #324148;
    }

    footer, footer > p.light-theme {
        text-align: center;
        /* border-top: 1px solid #303f46; */
        font-size:10px;
        color: #324148; 
        margin-bottom: 10px;
        justify-content: center;
    }
    
    #nav-header.light-theme {
        /* background: black; */
        background: transparent;
        color: whitesmoke;
        padding-top: 4px;
        padding-bottom: 4px;
        /* margin-top: 5px; */
        margin-bottom: 5px;
    } 
        /* end of light-theme styles inside dark-theme */
} 



    .social-links-navbar.mobile {
        display:flex;
    }

    .social-links-navbar.desktop {
        display: none;
        }

}



/* end of media for mobile */



.ul-proj {
/* display: flex; */
/* flex-direction: row; */
/* flex-wrap: wrap; */
gap: 20px;
display: block;
}

.li-proj {
    margin: 10px;
    list-style-type:none;
    
}


.proj-components {
display: flex;
flex-direction: column;
text-align: center;
}

.proj-image {
    border-radius: 5px;
    /* width: 380px; */
    width:fit-content;
    height: 380px;
    object-fit: contain;
    margin: auto;
    margin-top: 30px;
    align-self: flex-end;
    padding: 5px;
    /* border: 1px solid #63818f; */
transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
 
}

.proj-image:hover {
    box-shadow: 3px 3px 14px 5px #607d8b;
    transform: translateY(calc(-1*var(--spacing-regular)));
}

  .li-proj.last{  
    transition: transform .2s; /* Animation */
    margin-bottom: 50px;
    /* -webkit-filter: grayscale(80%);  Safari 6.0 - 9.0 */
    /* filter: grayscale(80%);  */
 } 

 /* .proj-components:hover { */
    /* transform: scale(1.1); */
    /* filter:none;
    -webkit-filter:none;
    font-weight:bolder; */

/* }  */

.proj:hover {
    text-decoration: none;
}

.proj-caption {
    color: #607d8b;
    margin: 5px;
}

.proj-caption:hover {
    filter:contrast(200%);
    /* font-weight:bold; */
}

/* .proj-image.proj1 {
    margin-bottom: -20px;
} */

.proj-image.proj3 {
    width:fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
}

.mysql {
    padding: 3px;
}

.proj-tech {
    font-family: 'Courier New', Courier, monospace;
    
}