* {
    box-sizing: border-box;
}

#nav-header {
    padding: 4px;
    margin-top:3px;
    margin-bottom: 3px;
    position:static;  /*either sticky or static, depends*/
    top: 0%;
    background-color: black;
    text-align: center;
    font-size: medium;
    z-index: 1;
    display: grid;
    grid-template-columns: auto auto; 

}
:root {
    scroll-behavior: smooth;
    --background-color: #c9c5c5;
    --shadow-color: hsl(225 10% 83%);
    --shadow-color-dark: hsl(225 10% 63%);

    --spacing-regular: 16px;
    --spacing-small: calc(var(--spacing-regular)/2);
    color-scheme: dark light;
    background-color: black;

    --font-size-mobile: 1.2rem ;
}

footer {
    text-align: center;
    border-top: 2px solid;
    font-size: medium;
    color: #607d8b;
}

header nav section > a,section nav a {
    margin-right: 8px;
    text-decoration: none;
    color: #607d8b;
    border-radius: 5%;
    padding: 8px;
}
section nav ul {
    list-style: none;
}

.social-links-navbar {
    display: flex;  
    list-style: none;
    text-decoration: none;
    margin: auto;
}

header nav > a:last-child {
    margin-right: revert;
}

header nav > a:hover {
     color: white; 
     background-color:teal;
}

header ul > li:hover {
    background-color:white;
    opacity: 50%;
    border-radius: 5px;
}

section {
    scroll-margin-top: calc(100px - 2*var(--spacing-regular));
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    font-size: 1.25rem;
    text-align:justify;
    background-color: var(--background-color);
    color: whitesmoke;
}

#div-sections {
    width:66%;
    margin:auto;
    background-color: #2e2d2d;
    padding: 20px;
    border-radius: 15px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.container {
    padding: 16px;  
}

.container #div-sections  >section > h2 {
text-align: center;
margin-top:40px;
color: #607d8b;
}

.intro {
    margin: -16px;
    padding: 16px;
    background-color: #c9c5c5;
    /* color: black; */
    text-align: center;
}

#profile-img {
    border-radius: 50%;
    width:220px;
    height:220px;
    filter: drop-shadow(12px 4px 6px gray);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
}

@-webkit-keyframes shakeme {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shakeme:hover,
.shakeme:focus {
    -webkit-animation-name: shakeme;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}

/* #profile-img:hover {
    transform:scale(1.1);
} */

 .social-links-navbar img{
    height:20px;
    width:20px;
    margin:auto 10px;
}

.social-links-bottom {
    display: flex;
    justify-content: center;
}

#qualifications section >h2{
    text-align: center;
    color: #607d8b;
}

p {
    text-indent: 3%;
}

.dynamic-text-color {
    color: #607d8b;
}

#contact {
    max-width: 400px;
    margin: auto;
    padding:16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label {
    display: block;
    font-weight: 600;
}

#contact input, #contact textarea, #contact button {
    width: 100%;
}

section form > h2 {
    color: #607d8b;
}

.mobile-nav, .menu {
    display:none;
}



 /* @media (width<=625px){
    #div-sections {
        width:100%;
        margin:auto;
        background-color: #2e2d2d;
        padding: 5px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    } 
} */

/* @media (width <=400px){
    #profile-img {
        width: 70%;
        height: 70%;
    }
}  */


#proficiency .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
}

#proficiency h1 {
    color: #607d8b;
    margin: 10px;
}

#proficiency ul {
    margin: 0px;
    padding: 5px;
    text-align:center;
}

.cardsection {
    border: 1px solid white;
    box-shadow: 3px 3px 18px 9px #33424a;
    margin: 20px 20px;
    text-align:center;
    border-radius: var(--spacing-regular);
    transition: transform 0.2s ease-in, box-shadow 0.2s ease-in-out;
}

.cardsection:hover {
    box-shadow: 3px 3px 14px 5px #607d8b;
    transform: translateY(calc(-1*var(--spacing-regular)));
    
}

input, textarea {
    opacity: 90%;
}

li >a.proj {
    color: #607d8b;
}

li >a.proj:hover {
    color: white;
}

.notdone {
    color: white;
    opacity: 20%;
}

.online-font {
font-family: "Courier New", Courier, monospace;
letter-spacing: 2px;
word-spacing: 2px;
color: #607d8b;
font-weight: bold;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

#contact-me form {
    border: 1px solid white;
    box-shadow: 3px 3px 18px 9px #33424a;
    border-radius: var(--spacing-regular);

}

#contact-me form input, #contact-me form textarea {
    color: black;
    font-size: 1.1rem;
    opacity: 50%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit {
    background-color: white;
    opacity: 50%;
    color: black;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
}

#nav-header .default-nav > a{
    color: white;
    display:grid;
}

#nav-header .default-nav {
    display: flex;
}

#theme-switcher1, #theme-switcher2 {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    background:teal;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}


#ingrid {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    color: black !important;
    font-size: 1.8rem;
    }


.cardsection {
    border: 2px solid #607d8b;
}

#contact-me form input, #contact-me form textarea {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
} 





/* dark theme styles*/

#nav-header.dark-theme {
    background: #303f46;
    color: white;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.default-nav.dark-theme > a{
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#div-sections.dark-theme {
    background: black;
    color: white;
    border: 2px solid #607d8b;
    /* box-shadow: 3px 3px 18px 9px #33424a; */
}
h1.dark-theme, h2.dark-theme {
    color: white;
}

.cardsection.dark-theme {
    border: 2px solid #607d8b;
}

#contact-me form input.dark-theme, #contact-me form textarea.dark-theme {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit.dark-theme {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
}

 body.dark-theme {
    background-color: black;
    color: black;
}

.intro.dark-theme {
    background-color: black;
    color: white;
}

#nav-header.dark-theme {
    background: #303f46;
    color: white;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.default-nav.dark-theme > a{
    color: white;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

#ingrid.dark-theme {
    color: white !important;
}

#div-sections.dark-theme {
    background: black;
    color: white;
    border: 2px solid #607d8b;
    /* box-shadow: 3px 3px 18px 9px #33424a; */
}
h1.dark-theme, h2.dark-theme {
    color: white ;
}

.cardsection.dark-theme {
    border: 2px solid #607d8b;
}

#contact-me form input.dark-theme, #contact-me form textarea.dark-theme {
    color: white; 
    background-color: #303f46;
    font-size: 1.1rem;
    opacity:100%;
    border-radius: 5px;
    padding: 5px;
    font-family: monospace;
}

#contact-me form #submit.dark-theme {
    background-color: #303f46;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 5px;
    color: white;
    opacity: 100%;
}
/* end of dark theme styles */

/*start of color scheme dark*/
 @media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: black;
    }
    #nav-header {
        background: #303f46;
        color: white;
        padding: 4px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .default-nav > a{
        color: white;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    .intro {
        background-color: black;
        
    }

    #div-sections {
        background: black;
        color: white;
        border: 2px solid #607d8b;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
    h1, h2 {
        color: white ;
    }

    #ingrid {
        color: white !important;
    }

    .cardsection {
        border: 2px solid #607d8b;
    }

    #contact-me form input, #contact-me form textarea {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }

    /* start of light theme styles inside dark theme*/
    body.light-theme {
        background-color: #c9c5c5;
    }
    .intro.light-theme {
        background-color: #c9c5c5;
        color: black;
    }
    
    #nav-header.light-theme {
        background: black;
        color: whitesmoke;
        padding: 4px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    /*not yet modified:*/
    .default-nav.light-theme > a{
        color: white;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
    }
    
    #div-sections.light-theme {
        background: #2e2d2d;
        color: whitesmoke;
        border: 2px solid #607d8b;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
    h1.light-theme, h2.light-theme {
        color: #607d8b;
    }
    
   #ingrid.light-theme {
        color: black !important;
    }
    
    /* .card.light-theme {
        border: 2px solid #607d8b;
    } */
    
    #contact-me form input.light-theme, #contact-me form textarea.light-theme {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit.light-theme {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }
      
        /* end of light-theme styles inside dark-theme */
} 

/* end of color scheme dark */

/* start of media for mobile */
@media (width < 1100px) {

    body {
        max-width: 400px;
    }

    #nav-header {
        display: flex;
    }
    .social-links-navbar {
        margin-right: 10px;
        margin-left: auto;
    }
    .default-nav  {
        display:none;
    }
    .mobile-nav {
        display: revert;
        padding-left: 20px;
        display:flex;
    }
    .menu {
         display:grid;
        grid-column: 2 span 1;
        height: 0;
        width:100%;
        overflow:hidden; 
        position:fixed; 
        top:0;
        z-index: 2;
        background: var(--background-color);
        transition: height 0.5s ease-in-out;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius:10px;
    }
    
    
    #close-menu {
        position:absolute;
        right: 16px;
        top:16px;
        background:transparent;
        font-size: xx-large;
        border:none;
        color:#607d8b;
    }
    #menu-button, #theme-switcher2 {
        display: block;
        background:transparent;
        color: white;
        border-radius: 5px;
        margin-left: auto;
        margin-right: 10px;
        padding: 5px;
    }

    #nav-header .default-nav section {
        display:none;
    }

    #div-sections {
        width:100%;
        margin:auto;
        background-color: #2e2d2d;
        padding: 5px;
        border-radius: 5px;
        /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
    } 

    body {
        font-size: var(--font-size-mobile);
        width:100%;
    }

    #profile-img {
        width: 70%;
        height: 70%;
    }

    #proficiency .cards{
    display: block;
    /* grid-template-columns: repeat(auto-fit,minmax(300px, 1fr)); */
    /* gap: 10px; */


/*start of color scheme dark*/
@media (prefers-color-scheme:dark) {
    body {
        background-color: black;
        color: black;
    }
    #nav-header {
        background: #303f46;
        color: white;
        padding: 4px;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .intro {
        background-color: black;
        
    }

    #div-sections {
        background: black;
        color: white;
        border: 2px solid #607d8b;
        /* box-shadow: 3px 3px 18px 9px #33424a; */
    }
    h1, h2 {
        color: white ;
    }

    #ingrid {
        color: white !important;
    }

    .cardsection {
        border: 2px solid #607d8b;
    }

    #contact-me form input, #contact-me form textarea {
        color: white; 
        background-color: #303f46;
        font-size: 1.1rem;
        opacity:100%;
        border-radius: 5px;
        padding: 5px;
        font-family: monospace;
    }
    
    #contact-me form #submit {
        background-color: #303f46;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 5px;
        color: white;
        opacity: 100%;
    }

    /* start of light theme styles inside dark theme*/
    body.light-theme {
        background-color: #c9c5c5;
    }
    .intro.light-theme {
        background-color: #c9c5c5;
        color: black;
    }
    
    #nav-header.light-theme {
        background: black;
        color: whitesmoke;
        padding: 4px;
        margin-top: 3px;
        margin-bottom: 3px;
    } 
        /* end of light-theme styles inside dark-theme */
} 

}


}

/* end of media for mobile */